table {
   width:300px;
   height: 150px;
   margin: 70px 60px 45px;
   font-variant: small-caps;
   overflow: scroll;
 }

 .zero {
   color: green;
   font-size: 16;
 }
 .red {
   color:red;
 }


h4 {
  margin-left: 20px;
}

p {
  margin-left: 20px;
  margin-top: 5%;
}


tr:hover {background-color: #f5f5f5;}
