<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/main.css">
    <title>Chart</title>
</head>
<body>
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">WizardCasino</h5>
    <nav class="my-2 my-md-0 mr-md-3">
      <a class="p-2 text-dark" href="/">Home</a>
      <a class="p-2 text-dark" href="/about">About</a>
      <a class="p-2 text-dark" href="/chart">Chart</a>
      <a class="p-2 text-dark" href="/table">Table</a>
    </nav>
  </div>
  <h4>This is my first table in html</h4>
  <p>
    The table shows non-aggregated data collected from the official
    website of Spiel Bank in Duisburg.
  </p>

  <div>
    <table>
      <caption>TABLE 4 (AM. ROULETTE) - WEDNESDAY, 04.09.2019</caption>
       <tr>
         {% for header in headings %}
         <th>{{header}}</th>
         {% endfor %}
       </tr>
       {% for row in data %}
       <tr>
         {% for cell in row %}
         <td>{{ cell }}</td>
         {% endfor %}
       </tr>
       {% endfor %}
     </table>
</div>
</body>
</html>
